 <div class="event">        
    <div class="content">
        <div class="summary">
        <a class="user"><%= message.user.username%></a> <%= message.body%>
        <div class="date">1 Hour Ago</div>
        </div>
        <div class="meta">
        <a class="like"><i class="like icon"></i> 4 Likes</a>
        </div>
    </div>
</div>